.rcw-notification-container {
  margin-bottom: 10px;
  max-width: 340px;

  .rcw-notification-header {
    height: 32px;
    display: flex;
    flex-direction: column;

    &.rcw-notification-header-visible {
      .rcw-dismiss-button {
        top: 0;
        opacity: 0.6;
      }
    }

    .rcw-dismiss-button {
      position: relative;
      top: 6px;
      opacity: 0;
      border: 0;
      transition: all .1s ease-out 75ms;
      align-self: flex-end;
      width: 24px;
      height: 24px;
      line-height: 24px;
      background-color: #555;
      color: #fff;
      border-radius: 50%;
      cursor: pointer;

      img {
        width: 10px;
        height: 10px;
      }
    }
  }

  .rcw-notification {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 10px 1px rgba(0,0,0,.2);
    cursor: pointer;
    position: relative;

    .rcw-response {
      background-color: transparent;
      border-radius: 0;
      max-width: inherit;
    }

  }
}
